@model Filminurk.Models.Actors.ActorsDeleteViewModel

<h1>Kustuta Film</h1>

<div>
	<h4>Film</h4>
	<hr />
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="ID" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.ID)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.FirstName)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="LastName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.LastName)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="MoviesActedFor" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.MoviesActedFor)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="ActorRating" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.ActorRating)
		</div>																				 
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="Gender" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.Gender)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="MostActedGenre" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.MostActedGenre)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="PortraitID" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.PortraitID)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="EntryCreatedAt" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.EntryCreatedAt)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="EntryModifiedAt" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(Model => Model.EntryModifiedAt)
		</div>
	</dl>
	<hr/>
	<form asp-action="DeleteConfirmation">
		<input type="hidden" asp-for="ID" />
		<input type="submit" value="Remove" class="btn btn-danger"/>
		<a asp-action="Index" asp-controller="Movies" class="btn btn-success">Return to List</a>
	</form>
</div>