@model Filminurk.Models.OMDbApi.OMDbApiViewModel

<div class="container">
	<form method="post" enctype="multipart/form-data">
		<h2>Preview: @Model.Title</h2>
		<hr />
		<dl class="row text-dark">
			<div>
				<dt class="col-sm 2">
					Title:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.Title)
				</dd>
			</div>
			<div>
				<dt class="col-sm 2">
					FirstPublished:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.FirstPublished)
				</dd>
			</div>
			<div>
				<dt class="col-sm 2">
					Genre:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.Genre)
				</dd>
			</div>
			<div>
				<dt class="col-sm 2">
					Rating:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.imdbRating)
				</dd>
			</div>
			<div>
				<dt class="col-sm 2">
					Actors:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.Actors)
				</dd>
			</div>
			<div>
				<dt class="col-sm 2">
					Producer:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.Producer)
				</dd>
			</div>
			<div>
				<dt class="col-sm 2">
					Description:
				</dt>
				<dd>
					@Html.DisplayFor(Model => Model.Description)
				</dd>
			</div>
		</dl>
		<input asp-for="Title" type="hidden" />
		<input asp-for="FirstPublished" type="hidden" />
		<input asp-for="Genre" type="hidden" />
		<input asp-for="imdbRating" type="hidden" />
		<input asp-for="Actors" type="hidden" />
		<input asp-for="Producer" type="hidden" />
		<input asp-for="Description" type="hidden" />
		<input asp-action="Import" asp-controller="OMDbApi" type="submit" class="btn btn-primary" value="Import" />
		<a asp-action="Index" asp-controller="OMDbApi" class="btn btn-success">Return</a>
	</form>
</div>